<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Franchise Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.js"></script>

    <script th:src="@{/main.js}"></script>
</head>
<body ng-app="FranchiseApplication" ng-controller="ApplicationController">
    <div class="container">
        <form>
            <h1>Franchise Application</h1>
            <div style="margin-bottom: 2em;">
                <button type="button" ng-click="addNewForm()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add application</button>
            </div>
            <table class="table table-bordered">
                <thead>
                    <td>App Number</td>
                    <td>Name</td>
                    <td>Applicant ID</td>
                    <td>Phone</td>
                    <td>Email</td>
                    <td></td>
                    <td></td>
                </thead>
                <tr ng-repeat="form in forms">
                    <td>{{form.formNumber}}</td>
                    <td>{{form.applicantName}}</td>
                    <td>{{form.idNumber}}</td>
                    <td>{{form.phone}}</td>
                    <td>{{form.email}}</td>
                    <td><button class="btn btn-warning" ng-click="editForm(form)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>
                    <td><button class="btn btn-danger" ng-click="deleteForm(form.id)">Delete</button></td>
                </tr>
            </table>
        </form>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="myForm" novalidate>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="applicantName" class="form-control" ng-model="aForm.applicantName" ng-required="true" maxlength="100">
                                </div>
                                <span style="color: red;" ng-show="myForm.applicantName.$dirty && myForm.applicantName.$invalid">
                                    Please enter a name.
                                </span>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">ID Number</label>
                                <div class="col-sm-10">
                                    <input type="text" name="idNumber" class="form-control" ng-model="aForm.idNumber" ng-required="true" maxlength="45">
                                </div>
                                <span style="color: red;" ng-show="myForm.idNumber.$dirty && myForm.idNumber.$invalid">
                                    Please enter an ID number.
                                </span>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Birth date</label>
                                <div class="col-sm-10">
                                    <input class="form-control datepicker" type="date" name="birthDate" ng-model="aForm.birthDate" ng-required="true">
                                </div>
                                <span style="color: red;" ng-show="myForm.birthDate.$dirty && myForm.birthDate.$invalid">
                                    Please enter a birth date.
                                </span>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="aForm.address" maxlength="45">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" name="phone" class="form-control" ng-model="aForm.phone" ng-required="true" maxlength="45">
                                </div>
                                <span style="color: red;" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                                    Please enter the phone.
                                </span>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="aForm.email" maxlength="45">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="experience-description" class="col-form-label">Deescribe your experience:</label>
                                <textarea class="form-control" name="experience" id="experience-description" ng-model="aForm.experienceDescription" maxlength="1024" ng-required="true""></textarea>
                                <span style="color: red;" ng-show="myForm.experience.$dirty && myForm.experience.$invalid">
                                    Please provide your experience.
                                </span>
                            </div>
                            <div class="mb-3">
                                <label for="interest-description" class="col-form-label">Describe your interest about our brand:</label>
                                <textarea class="form-control" name="interest" id="interest-description" ng-model="aForm.interestDescription" maxlength="1024" ng-required="true"></textarea>
                                <span style="color: red;" ng-show="myForm.interest.$dirty && myForm.interest.$invalid">
                                    Please provide your interest.
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Planned investment amount in USD:</label>
                                <input type="number" class="form-control" ng-model="aForm.plannedInvestmentAmountUsd">
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">In which geographical areas would you like to operate:</label>
                                <select class="form-control" ng-model="aForm.operationAreaId" ng-options="area.id as area.name for area in areas"></select>
                            </div>
                            <div class="mb-3">
                                <label for="additional-notes" class="col-form-label">Additional Notes:</label>
                                <textarea class="form-control" id="additional-notes" ng-model="aForm.additionalNote"></textarea>
                            </div>
                        </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                        <button type="button" ng-disabled="!myForm.$valid" ng-click="submitAForm()" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>